[Desktop Entry]
Encoding=UTF-8
Name=electric
Comment=Electric VLSI Design System
Comment[pl]=System projektowania układów LSI
Exec=electric
Icon=
Path=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
BinaryPattern=
MapNotify=false
Categories=Utility;Electronics;
# vi: encoding=utf-8
